@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.block-enter-account{
  height: $heightFormEnterAccount;
}
.search-form-enter-account{
  height: 100%;
}
.block-header-enter-account{
  height: $heightBlockHeader;
}
.block-content-enter-account{
  position: relative;
  top: $positionTopBlockEnterAccount;
  display: grid;
  grid-template-columns: $widthInput;
  grid-template-rows: repeat(2,$heightFields);
  grid-row-gap: $gridGapUserDataBlock;
}
.position-submit-account-enter{
  position: relative;
  top: 40px;
}
.position-have-account-enter{
  position: relative;
  top: 26px;
}