.block-form.form-enter-account
    form.search-form.search-form-enter-account
        header.search-form__block-header.block-header-enter-account
            h1.search-form__block-header__content-h1
                | Войти
        .search-form__block-content.block-content-enter-account
            input.search-form__block-content__input
            input.search-form__block-content__input
        .search-form__block-button.block-button-enter-account
            button.search-form__button.button-enter-account
                span Войти
                img(src="/assets/img/arrow_forward_batton.png")
        .search-form__block-content__already-have-account.already-have-account-enter
            p.search-form__block-content__already-have-account__text
                | Нет аккаунта на Toxin?
            .search-form__button.button-already-have-account
                button Создать
