.block-form.block-enter-account
    form.search-form.search-form-enter-account(
        action = " "
        method = "post"
    )
        header.search-form__block-header.block-header-enter-account
            h1.search-form__block-header__content-h1
                | Войти
        .search-form__block-content.block-content-enter-account
            input.search-form__block-content__input.field-users-profile(
                type = "text"
                name = "userEmail"
                placeholder = "Email"
                value = ""
            )
            input.search-form__block-content__input.field-users-profile(
                type = "password"
                name = "userPassword"
                placeholder = "Пароль"
                value = ""
            )
        .search-form__submit.position-submit-account-enter
            input.search-form__submit__input(
                type = "submit"
                value = "Войти"
            )
            div.search-form__submit__block-arrow-background
        .search-form__block-content.already-have-account.position-have-account-enter
            p.search-form__block-content__paragraph.already-have-account-paragraph
                | Нет аккаунта на Toxin?
            .search-form__button.button-already-have-account
                button Создать
