@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.block-find-number{
  height: $heightFormFindNumber;
}
.search-form-find-number{
 height: 100%;
}
.block-header-find-number{
  height: $heightBlockHeader + 30px;
}
.label-arrival-find-number{
  grid-area: label-arrival;
}
.input-arrival-find-number{
  grid-area: input-arrival;
}
.label-departure-find-number{
  grid-area: label-departure;
}
.input-departure-find-number{
  grid-area: input-departure;
}
.label-guests-find-number{
  grid-area: label-guests;
}
.input-guests-find-number{
  grid-area: input-guests;
}
.block-content-find-number{
  position: relative;
  top: $positionTopBlockDates;
  display: grid;
  grid-template-columns: $widthInputsDate $gridGapDate $widthInputsDate;
  grid-template-rows: $heightLabel $gridGapDate - ($gridGapDate - 5px) $heightFields $gridGapDate $heightLabel$gridGapDate - ($gridGapDate - 5px) $heightFields;
  grid-template-areas: "label-arrival . label-departure"
                        ". . ."
                        "input-arrival . input-departure"
                        ". . ."
                        "label-guests . ."
                        ". . ."
                        "input-guests input-guests input-guests";
}
.block-submit-pick-up-room{
  position: relative;
  top: $positionTopSubmit - ($positionTopSubmit - 52px);
}

