.block-form.form-find-number
    form.search-form.search-form-find-number
        header.search-form__block-header.block-header-find-number
            h1.search-form__block-header__content
                |Найдём номера под
                br
                |ваши пожелания
        .search-form__block-content.block-content-find-number
            label.search-form__block-content__label.label-arrival(for="arrival")
                |Прибытие
            input.search-form__block-content__input.input-arrival(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "arrival"
                data-range = "true"
                data-multiple-dates-separator=" - "
                name = "fieldArrival"
            )
            label.search-form__block-content__label.label-departure(for="departure")
                |Выезд
            input.search-form__block-content__input.datepicker-here.input-departure(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "departure"
                name = "fieldDeparture"
            )
            label.search-form__block-content__label.label-guests(for="guest")
                |Гости
            input.search-form__block-content__input.input-guests(
                type = "text"
                placeholder = "Сколько гостей"
                id = "guest"
                name = "fieldGuests"
            )
        .search-form__block-button
            button.search-form__button
                span Подобрать номер
                img(src="/assets/img/arrow_forward_batton.png")


