.block-form.block-find-number
    form.search-form.search-form-find-number(
        action = " "
        method = "post"
    )
        header.search-form__block-header.block-header-find-number
            h1.search-form__block-header__content-h1
                |Найдём номера под
                br
                |ваши пожелания
        .search-form__block-content.block-content-find-number
            label.search-form__block-content__label.label-arrival-find-number(for="arrival")
                |Прибытие
            input.search-form__block-content__input.input-arrival-find-number(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "arrival"
                name = "fieldArrival"
            )
            label.search-form__block-content__label.label-departure-find-number(for="departure")
                |Выезд
            input.search-form__block-content__input.datepicker-here.input-departure-find-number(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "departure"
                name = "fieldDeparture"
            )
            label.search-form__block-content__label.label-guests-find-number(for="guest")
                |Гости
            input.search-form__block-content__input.input-guests-find-number(
                type = "text"
                placeholder = "Сколько гостей"
                id = "guest"
                name = "fieldGuests"
            )
        .search-form__submit.block-submit-pick-up-room
            input.search-form__submit__input(
                type = "submit"
                value = "Подобрать номер"
            )
            div.search-form__submit__block-arrow-background



