@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.form-find-number{
  height: $heightFormFindNumber;
}
.search-form-find-number{
 height: 100%;
}
.block-header-find-number{
  height: $heightBlockHeader + 30px;
}
.label-arrival-find-number{
  grid-area: label-arrival;
}
.input-arrival-find-number{
  grid-area: input-arrival;
}
.label-departure-find-number{
  grid-area: label-departure;
}
.input-departure-find-number{
  grid-area: input-departure;
}
.label-guests-find-number{
  grid-area: label-guests;
}
.input-guests-find-number{
  grid-area: input-guests;
}
.block-content-find-number{
  position: relative;
  top: $top;
  @include gridBlockContentForm($widthInputsDate,$gridGap + 10px,$widthInputsDate,$heightLabel,$gridGap - 5px,$heightFields,$gridGap + 11px,$heightLabel,$gridGap - 5px,$heightFields);  // аргументы ($columnOne,$columnTho,$columnThree,$rowOne,$rowTho,$rowThree,$rowFour,$rowFive,$rowSix,$rowSeven)
  grid-template-areas: "label-arrival . label-departure"
                        ". . ."
                        "input-arrival . input-departure"
                        ". . ."
                        "label-guests . ."
                        ". . ."
                        "input-guests input-guests input-guests";
}
.search-form__container-button{
  width: $widthFieldDefault;
  height: $heightFields;
}
.search-form__block-button{
  position: relative;
  top: $top + 31px;
}

