.block-form
    form.search-form.search-form-find-number
        header.search-form__header
            h1.search-form__header__h1
                |Найдём номера под
                br
                |ваши пожелания
        main.search-form__container
            section.search-form__container-date
                label.search-form__label
                    |Прибытие
                    input.search-form__input.datepicker-here(
                        type = "text"
                        placeholder = "ДД.ММ.ГГГГ"
                        id = "arrival"
                        data-range = "true"
                        data-multiple-dates-separator=" - "
                        name = "fieldArrival"
                    )
                label.search-form__label
                    |Выезд
                    input.search-form__input.datepicker-here(
                        type = "text"
                        placeholder = "ДД.ММ.ГГГГ"
                        id = "departure"
                        name = "fieldDeparture"
                    )
            section.search-form__container-guests
                label.search-form__label
                    |Гости
                    input.search-form__input.input-guest(
                        type = "text"
                        placeholder = "Сколько гостей"
                        id = "guest"
                        name = "fieldGuests"
                    )
        .search-form__container-button
            button.search-form__button
                span Подобрать номер
                img(src="/assets/img/arrow_forward_batton.png")


