.wrapper-footer-hotel
    .wrapper-footer-hotel__main-block.padding-footer
        .wrapper-footer-hotel__main-block__container
            .wrapper-footer-hotel__main-block__container__logo
                .header-toxin__wrapper
                    .header-toxin__logo
                    .header-toxin__logo-text
                        | TOXIN
                .wrapper-footer-hotel__paragraph.main-block-logo-text
                    | бронирование номеров в лучшем
                    br
                    | отеле 2019 года по версии
                    br
                    | ассоциации «Отельные взгляды»
            ul.wrapper-footer-hotel__main-block__ul.container__nav
                div.wrapper-footer-hotel__main-block__name-menu
                    a(href="") Навигация
                li
                    a(href="") О нас
                li
                    a(href="") Новости
                li
                    a(href="") Служба поддержки
                li
                    a(href="") Услуги
            ul.wrapper-footer-hotel__main-block__ul.container__about-us
                div.wrapper-footer-hotel__main-block__name-menu
                    a(href="") О нас
                li
                    a(href="") О сервисе
                li
                    a(href="") Наша команда
                li
                    a(href="") Вакансии
                li
                    a(href="") Инвесторы
            ul.wrapper-footer-hotel__main-block__ul.container__support-service
                div.wrapper-footer-hotel__main-block__name-menu
                    a(href="") Служба поддержки
                li
                    a(href="") Соглашения
                li
                    a(href="") Сообщества
                li
                    a(href="") Связь с нами
            .wrapper-footer-hotel__main-block__container__subscription
                .wrapper-footer-hotel__main-block__ul.subscription
                    div.wrapper-footer-hotel__main-block__name-menu
                        a(href="") Подписка
                .wrapper-footer-hotel__paragraph.main-block-subscription-text
                    | Получайте специальные
                    br
                    | предложения и новости сервиса
                input.wrapper-footer-hotel__main-block__container__subscription-field(
                    type = "email"
                    placeholder = "Email"
                )
    .wrapper-footer-hotel__block.padding-footer
        .wrapper-footer-hotel__block-text.wrapper-footer-hotel__paragraph
            | Copyright © 2018 Toxin  отель. Все права защищены
        .wrapper-footer-hotel__block-social-media-icons
            .wrapper-footer-hotel__block-social-media-icons__twitter
            .wrapper-footer-hotel__block-social-media-icons__facebook
            .wrapper-footer-hotel__block-social-media-icons__instagram
.container-header-footer
    .header-toxin__wrapper
        .header-toxin__logo
        .header-toxin__logo-text
            | TOXIN
    .wrapper-footer-hotel__block-text.wrapper-footer-hotel__paragraph
        | Copyright © 2018 Toxin  отель. Все права защищены
    .wrapper-footer-hotel__block-social-media-icons
        .wrapper-footer-hotel__block-social-media-icons__twitter
        .wrapper-footer-hotel__block-social-media-icons__facebook
        .wrapper-footer-hotel__block-social-media-icons__instagram