 @import "../Utils_Scss/vars";
 @import "../Utils_Scss/mixins";

.block-main-logo{
  width: $sizeLogo + 30px;
  height:  $sizeLogo + 30px;
  padding-top: 30px;
  padding-left: 30px;
}
 .block-main-logo__container{
   background: url("/assets/img/LogoContainer.png") center no-repeat;
   height: $sizeLogo;
   width: $sizeLogo;
 }