 @import "../Utils_Scss/vars";
 @import "../Utils_Scss/mixins";

.block-main-logo{
  width: $WidthMainLogo;
  height:  $HeightMainLogo;
}
 .block-main-logo__container{
   @include BackgroundImage(inherit);
   background-image: url("/assets/img/LogoContainer.png");

 }