.block-form.block-number-lux
    form.search-form.search-form-number-lux(
        action = " "
        method = "post"
    )
        header.search-form__block-header.block-header-number-lux
                h3.search-form__block-header__content-h3.header-h3-number-lux
                    |№
                h1.search-form__block-header__content-h1.header-span-number
                    |888
                h3.search-form__block-header__content-h3.header-h3-lux
                    |Люкс
                p.search-form__block-header__paragraph.header-number-paragraph
                    | 9 990₽
                p.search-form__block-header__paragraph.header-paragraph-day
                    |в сутки
        .search-form__block-content.block-content-number-lux
            label.search-form__block-content__label.label-arrival-lux(for="departureLux")
                |Прибытие
            input.search-form__block-content__input.datepicker-here.input-arrival-lux(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "arrivalLux"
                data-range = "true"
                data-multiple-dates-separator=" - "
                name = "fieldArrival"
            )
            label.search-form__block-content__label.label-departure-lux(for="departureLux")
                |Выезд
            input.search-form__block-content__input.input-departure-lux(
                type = "text"
                placeholder = "ДД.ММ.ГГГГ"
                id = "departureLux"
                name = "fieldDeparture"
            )
            label.search-form__block-content__label.label-guests-lux(for="guestLux")
                |Гости
            input.search-form__block-content__input.input-guest.input-guests-lux(
                    type = "text"
                    placeholder = "Сколько гостей"
                    id = "guestLux"
                    name = "fieldGuests"
            )
        .search-form__block-content.block-content-service
            p.search-form__block-content__paragraph.amount-four-days
                | 9 990₽ x 4 суток
            p.search-form__block-content__paragraph.total-four-days
                | 39 960₽
            p.search-form__block-content__paragraph.service-charge
                | Сбор за услуги: скидка 2 179₽
            .search-form__block-content-service__charge-image.service-charge-image
            p.search-form__block-content__paragraph.total-service-charge
                | 0₽
            p.search-form__block-content__paragraph.fee-additional-services
                | Сбор за дополнительные услуги
            .search-form__block-content-service__charge-image.fee-additional-services-image
            p.search-form__block-content__paragraph.total-fee-additional-services
                | 300₽
        .search-form__block-content.block-content-total
            .search-form__block-content__h3.total-text
                | Итого
            .search-form__block-content-total__border.border-total
            .search-form__block-content__h3.total-sum
                | 38 081₽
        .search-form__submit.block-submit-to-book
            input.search-form__submit__input(
                type = "submit"
                value = "Забронировать"
            )
            div.search-form__submit__block-arrow-background
