@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.block-number-lux{
  height: $heightFormNumberLux
}
.search-form-number-lux{
  height: 100%;
}
.header-h3-number-lux{
  grid-area: header-h3-number-lux;
  align-self: center;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody - 7px;
  color: $darkShade;
}
.header-span-number{
  grid-area: header-span-number;
}
.header-h3-lux{
  grid-area: header-h3-lux;
  align-self: center;
}
.header-number-paragraph{
  grid-area: header-h1-number-paragraph;
  align-self: center;
}
.header-paragraph-day{
  grid-area: header-span-day;
  font-weight: normal;
  font-size: $fontSizeBody - 2px;
  line-height: $lineHeightBody - 7px;
  align-self: center;
}
.block-header-number-lux{
  display: grid;
  grid-template-columns: 14px 8px 43px 5px 41px 109px 52px 3px 46px;
  grid-template-rows: 37px;
  grid-template-areas: "header-h3-number-lux . header-span-number . header-h3-lux . header-h1-number-paragraph . header-span-day"
                       ". . . . . . . . .";
}
.label-arrival-lux{
  grid-area: label-arrival;
}
.input-arrival-lux{
  grid-area: input-arrival;
}
.label-departure-lux{
  grid-area: label-departure;
}
.input-departure-lux{
  grid-area: input-departure;
}
.label-guests-lux{
  grid-area: label-guests;
}
.input-guests-lux{
  grid-area: input-guests;
}
.block-content-number-lux{
  position: relative;
  top: $positionTopBlockDates;
  display: grid;
  grid-template-columns: $widthInputsDate $gridGapDate $widthInputsDate;
  grid-template-rows:$heightLabel $gridGapDate - ($gridGapDate - 5px) $heightFields $gridGapDate $heightLabel $gridGapDate - ($gridGapDate - 5px) $heightFields;
  grid-template-areas: "label-arrival . label-departure"
                        ". . ."
                        "input-arrival . input-departure"
                        ". . ."
                        "label-guests . ."
                        ". . ."
                        "input-guests input-guests input-guests";
}
.amount-four-days{
  grid-area: amount-four-days;
}
.total-four-days{
  grid-area: total-four-days;

}
.service-charge{
  grid-area: service-charge;
}
.service-charge-image{
  grid-area: service-charge-image;
}
.total-service-charge{
  grid-area: total-service-charge;
  justify-self: end;
}
.fee-additional-services{
  grid-area: fee-additional-services;
  line-height: $lineHeightBody - 6px;
}
.fee-additional-services-image{
  grid-area: fee-additional-services-image;
  background-position: top;
}
.total-fee-additional-services{
  grid-area: total-fee-additional-services;
  justify-self: end;
}
.block-content-service{
  position: relative;
  top:$positionTopBlockService;
  display: grid;
  grid-template-columns: 214px 5px 20px 23px 57px;
  grid-template-rows: 16px 24px 10px 24px 10px 36px;
  grid-template-areas: ". . . . ."
                       "amount-four-days . . . total-four-days"
                       ". . . . ."
                       "service-charge . service-charge-image . total-service-charge"
                       ". . . . . "
                       "fee-additional-services . fee-additional-services-image . total-fee-additional-services";
}
.total-text{
  width: $widthBlockTotal;
  height: $heightBlockTotal;
}
.total-sum{
  width: $widthBlockTotal + 9px;
  height: $heightBlockTotal;
}
.border-total{
  width: (192px - $widthBlockTotal )+$widthBlockTotal;
  height: $heightBlockTotal - 4px;
  border-bottom: 1px dashed rgba($darkShade,0.25);
}
.block-content-total{
  position: relative;
  top: $positionTopBlockTotal;
  left: $positionLeftBlockTotal ;
  display: flex;
}
.block-submit-to-book{
  position: relative;
  top: $positionTopSubmit;
}