@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.block-number-lux{
  height: $heightFormNumberLux
}
.search-form-number-lux{
  @include styleSearchForm();
  height: 100%;
}
.header-h3-number-lux{
  grid-area: header-h3-number-lux;
  align-self: center;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody - 7px;
  color: $darkShade;
}
.header-span-number{
  grid-area: header-span-number;
}
.header-h3-lux{
  grid-area: header-h3-lux;
  align-self: center;
}
.header-number-paragraph{
  grid-area: header-h1-number-paragraph;
  align-self: center;
}
.header-paragraph-day{
  grid-area: header-span-day;
  font-weight: normal;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody - 7px;
  align-self: center;
}
.block-header-number-lux{
  height: $heightBlockHeader - 10px;
  width: $widthForm;
  display: grid;
  grid-template-columns: 14px 8px 43px 5px 41px 109px 52px 3px 46px;
  grid-template-rows: 38px 9px;
  grid-template-areas: "header-h3-number-lux . header-span-number . header-h3-lux . header-h1-number-paragraph . header-span-day"
                       ". . . . . . . . .";
}
.amount-four-days{
  grid-area: amount-four-days;
}
.total-four-days{
  grid-area: total-four-days;

}
.service-charge{
  grid-area: service-charge;
}
.service-charge-image{
  grid-area: service-charge-image;
}
.total-service-charge{
  grid-area: total-service-charge;
  justify-self: end;
}
.fee-additional-services{
  grid-area: fee-additional-services;
  line-height: $lineHeightBody - 6px;
}
.fee-additional-services-image{
  grid-area: fee-additional-services-image;
  background-position: top;
}
.total-fee-additional-services{
  grid-area: total-fee-additional-services;
  justify-self: end;
}
.search-form__block-content-servise{
  position: relative;
  top: $top + 11px;
  display: grid;
  grid-template-columns: 214px 5px 20px 23px 57px;
  grid-template-rows: 16px 24px 10px 24px 10px 36px;
  grid-template-areas: ". . . . ."
                       "amount-four-days . . . total-four-days"
                       ". . . . ."
                       "service-charge . service-charge-image . total-service-charge"
                       ". . . . . "
                       "fee-additional-services . fee-additional-services-image . total-fee-additional-services";
}
.label-arrival-lux{
  grid-area: label-arrival;
}
.input-arrival-lux{
  grid-area: input-arrival;
}
.label-departure-lux{
  grid-area: label-departure;
}
.input-departure-lux{
  grid-area: input-departure;
}
.label-guests-lux{
  grid-area: label-guests;
}
.input-guests-lux{
  grid-area: input-guests;
}
.block-content-number-lux{
  position: relative;
  top: $top + 10px;
  @include gridBlockContentForm($widthInputsDate,$gridGap + 10px,$widthInputsDate,$heightLabel,$gridGap - 5px,$heightFields,$gridGap + 11px,$heightLabel,$gridGap - 5px,$heightFields);  // аргументы ($columnOne,$columnTho,$columnThree,$rowOne,$rowTho,$rowThree,$rowFour,$rowFive,$rowSix,$rowSeven)
  grid-template-areas: "label-arrival . label-departure"
                        ". . ."
                        "input-arrival . input-departure"
                        ". . ."
                        "label-guests . ."
                        ". . ."
                        "input-guests input-guests input-guests";
}
.text-total{
  width: $widthBlockTotal;
  height: $heightBlockTotal;
}
.total-sum{
  width: $widthBlockTotal + 9px;
  height: $heightBlockTotal ;
}
.border-total{
  width: (192px - $widthBlockTotal )+$widthBlockTotal;
  height: $heightBlockTotal - 4px;
  border-bottom: 1px dashed rgba($darkShade,0.25);
}
.search-form__block-content-total{
  position: relative;
  top: (64px - $top) + $top;
  left: $left - ($left - 2px) ;
  display: flex;
}
.container-button-number-lux{
  position: relative;
  top: (85px - $top) + $top;
}
.button-number-lux{
  img {
    left: $left - 34px;
  }
}