@import "../Utils_Scss/mixins.scss";
@import "../Utils_Scss/vars.scss";

.form-registration-account{
  height: $heightFormRegistration
}
.search-form-registration-account{
  height: 100%;
}
.block-header-registration-account{
  height: $heightBlockHeader;
}
.input-name-registration-account{
  width: $widthFieldDefault;
  position: relative;
  top: $top;
}
.input-family-registration-account{
  width: $widthFieldDefault;
  position: relative;
  top: $top + 10px;
}
.search-form__block-content__radio-batton-male{
  grid-area: radio-batton-male;
  align-self: center;
  justify-self: center;
}
.search-form__block-content__gender-male{
  grid-area: gender-male;
}
.search-form__block-content__gender-women{
  grid-area:  gender-women;
}
.search-form__block-content__radio-batton-women{
  grid-area: radio-batton-women;
  align-self: center;
  justify-self: center;
}
.search-form__block-content__gender-selection{
  position: relative;
  top: $top + 10px;
  display: grid;
  grid-template-columns: $widthGenderSelection $gridGap (68px - $widthGenderSelection) + $widthGenderSelection $gridGap + 10px $widthGenderSelection $gridGap (73px - $widthGenderSelection) + $widthGenderSelection;
  grid-template-rows: $gridGap - 2px $heightGenderSelection;
  grid-template-areas: ". . . . . . . "
                       "radio-batton-male . gender-male . radio-batton-women . gender-women";
}
.search-form__block-content__birthday{
  position: relative;
  top: (52px - $top) + $top;
  display: grid;
  grid-template-columns: $widthFieldDefault;
  grid-row-gap: $gridGap - 5px;
  grid-template-rows: $heightLabel $heightFields;
}
.field-style-text{
  @include fontStyle( $mons,normal,$fontSizeBody,$lineHeightBody,rgba($darkShade,0.5)) //аргументы ($fontFamily,$fontWeight,$fontSize,$lineHeight,$fontColor)
}
.label-data-for-service{
  grid-area: label-data-for-service;
}
.input-email-registration-account{
  grid-area: input-email-data-for-service;
}
.input-password-registration-account{
  grid-area: input-password-data-for-service;
}
.search-form__block-content__data-for-service
{
  position: relative;
  top: (72px - $top) + $top;
  display: grid;
  grid-template-columns: $widthFieldDefault;
  grid-template-rows: $heightLabel $gridGap - 5px $heightFields $gridGap $heightFields;
  grid-template-areas: "label-data-for-service"
                       "."
                       "input-email-data-for-service"
                       "."
                       "input-password-data-for-service";
}
.search-form__block-content__checkbox-special-offers{
  position: relative;
  top: (81px - $top) + $top;
  display: grid;
  grid-template-columns: $widthFieldCheckbox (210px - $widthFieldCheckbox) + $widthFieldCheckbox;
  grid-column-gap: $gridGap;
  grid-template-rows: $heightFieldCheckbox + 4px;
}
.container-checkbox{
  border-radius: (10px - $borderRadiusDefault) + $borderRadiusDefault ;
  height: $heightFieldCheckbox;
  background-image: none;
}
.checkbox{
  border-radius: (10px - $borderRadiusDefault) + $borderRadiusDefault ;
  position: relative;
  top: $top - ($top + 13px);
  left:$left - ($left - 6px);
}
.search-form__block-content__paragraph-checkbox{
 @include  fontStyle($mons,normal,$fontSizeBody,$lineHeightBody,rgba($darkShade,0.75) );  //аргументы ($fontFamily,$fontWeight,$fontSize,$lineHeight,$fontColor)
  margin-top: $margin - (2px + $margin);
}
.block-batton-registration-account{
  position: relative;
  top: (102px - $top) + $top;
}
.already-have-account-registration{
  position: relative;
  top: (131px - $top) + $top;
}
.search-form__block-content__already-have-account{
  display: grid;
  grid-template-columns: $widthAlreadyHaveAccount $widthAlreadyHaveAccount - ($widthAlreadyHaveAccount - 99px);
  grid-column-gap: (35px - $gridGap) + $gridGap;
  grid-template-rows: $heightFields;
}
.search-form__block-content__already-have-account__text{
  @include  fontStyle($mons,normal,$fontSizeBody,$lineHeightBody - 6px,$myBlack );  //аргументы ($fontFamily,$fontWeight,$fontSize,$lineHeight,$fontColor)
  align-self: center;
}
.button-already-have-account{
  width: $widthAlreadyHaveAccount - ( $widthAlreadyHaveAccount - 99px);
  button{
    background: $myWhite;
    width: $widthAlreadyHaveAccount - ($widthAlreadyHaveAccount - 95px);
    height: $heightAlreadyHaveAccount;
    border-radius: $borderRadiusButton;
    position: relative;
    right: $right;
    top:$top - ( $top - 1px);
    border: none;
    @include fontStyle($mons,bold,$fontSizeBody,$lineHeightBody,$myWhite); //аргументы ( $fontFamily,$fontWeight,$fontSize,$lineHeight,$fontColor)
    text-transform: uppercase;
    color: $purple;
  }
}