.wrapper-header-toxin
    .header-toxin
        .header-toxin__wrapper
            .header-toxin__logo
            .header-toxin__logo-text
                |TOXIN
        nav.header-toxin__nav.registered-user-nav
            ul.header-toxin__nav-ul
                li
                    a(href="")
                        |О нас
                li.header-toxin__nav-ul__list
                    a(href="")
                        |Yслуги
                    .header-toxin-ul__background
                li
                    a(href="")
                        |Вакансии
                li
                    a(href="")
                        |Новости
                li.header-toxin__nav-ul__list.list-agreement
                    a(href="")
                        | Соглашения
                    .header-toxin-ul__background.background-agreements
        .header-toxin__empty-div
        .header-toxin__user-name
            | Юлий Цезарь