html
    head
        title Template-Hotel-Toxin
    body
    .wrapper.wrapper-cards
        include ../Include_Block/LogoContainer
        include ../Include_Block/Find_Number
        include ../Include_Block/NumberLux
        include ../Include_Block/RegistrationAccaunter
        include ../Include_Block/EnterAccaunt
    .wrapper.wrapper-header-footer
        include ../Include_Block/LogoContainer
        include ../Include_Block/HeaderHotel
        include ../Include_Block/RegisteredUsersHeaderHotel