@import "../Utils_Scss/mixins";
@import "../Utils_Scss/vars";

*{
  margin: 0;
  padding: 0;
}
body{
background: rgba($MyBlack,0.2);
}
.wrapper{
  @include Style-Wrapper(900px,$MyWhite); //Аргументы (height,background);
  .block-main-logo{
    padding-left: $PaddingMainLogo;
    padding-top: $PaddingMainLogo;
  }
}

@import "../Include_Block/LogoContainer";