@import "../Utils_Scss/mixins";
@import "../Utils_Scss/vars";

*{
  margin: 0;
  padding: 0;
}
body{
  background: rgba($myBlack,0.1);
}
.wrapper{
  width: 1440px;
  margin: 20px auto;
}
.wrapper-cards{
  height: 1350px;
  background-color: rgba($myWhite,0.6);
  .block-main-logo{
    padding-top: $paddingLogo;
    padding-left: $paddingLogo;
  }
  .block-form{
    padding-top: 150px;
    padding-left: 140px;
  }
}
@import "../Include_Block/LogoContainer";