@font-face {
  font-family: Quicksand;
  src: url("/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg")format("svg"),
       url("/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf")format("ttf"),
       url("/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff")format("woff");
  font-weight: normal;
}
@font-face {
  font-family: Quicksand;
  src: url("/assets/fonts/Quicksand/Quicksand-Light/Quicksand-Light.svg") format("svg"),
       url("/assets/fonts/Quicksand/Quicksand-Light/Quicksand-Light.ttf") format("ttf"),
       url("/assets/fonts/Quicksand/Quicksand-Light/Quicksand-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Quicksand;
  src: url("/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.svg") format("svg"),
       url("/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.ttf") format("ttf"),
       url("/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg")format("svg"),
       url("/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf")format("ttf"),
       url("/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff")format("woff");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg")format("svg"),
       url("/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf")format("ttf"),
       url("/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff")format("woff");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat/Montserrat-Light/Montserrat-Light.svg")format("svg"),
       url("/assets/fonts/Montserrat/Montserrat-Light/Montserrat-Light.ttf")format("ttf"),
       url("/assets/fonts/Montserrat/Montserrat-Light/Montserrat-Light.woff")format("woff");
  font-weight: 300;
}