@import "src/Utils_Scss/fonts";
@import "src/Utils_Scss/vars";

@mixin styleSearchForm($heightForm){
  width: $widthForm;
  height: $heightForm;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: $borderRadiusDefault;
  background-color: $myWhite;
  box-shadow: 0 0 25px rgba($myBlack,0.2);
}
@mixin fontStyle($fontFamily,$fontWeight,$fontSize,$lineHeight,$fontColor){
  font-family: $fontFamily;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $fontColor;
}
@mixin inputStyle($width){
  width: $width;
  height: $fieldsHeight;
  background-color: $myWhite;
  border: 1px solid rgba(31,32,65,0.25);
  border-radius: $borderRadiusDefault;
}
@mixin buttonStyle($width){
  background: linear-gradient(180deg,$purple 0,$green 100%) center ;
  border-radius: $borderRadiusButton;
  width: $width;
  height: $fieldsHeight;
}
@mixin backgroundArrowButton{
  background: url("/assets/img/arrow_forward_batton.png") no-repeat calc(100% - 15px) calc(100% - 22px);
  height: $fieldsHeight;
  width: 44px;
}
@mixin backgroundArrowDawn(){
  background: $myWhite url("/assets/img/ArrowDaun.png") no-repeat  calc(100% - 15px) center ;
}