@import "src/Utils_Scss/fonts";
@import "src/Utils_Scss/vars";

@mixin Style-Wrapper($Height,$Background){
  width: 1440px;
  height: $Height;
  background: $Background;
  margin: 20px auto 20px;
}
@mixin Grid($ColumnGap,$RowGap){
  display: grid;
  grid-column-gap: $ColumnGap;
  grid-row-gap: $RowGap;
}
@mixin FontFamily($FontFamily,$FontWeight,$FontSize,$LineHeight){
  font-family: $FontFamily;
  font-style: normal;
  font-weight: $FontWeight;
  font-size: $FontSize;
  line-height: $LineHeight;
}
@mixin InputStyle($WidthField,$HeightField,$BorderColor,$BorderRadius){
  background: $MyWhite;
  width: $WidthField;
  height: $HeightField;
  border: 1px solid rgba($BorderColor);
  box-sizing: border-box;
  border-radius: $BorderRadius;
}
@mixin ButtonStyle($WidthButton,$HeightButton,$BorderRadius){
  width: $WidthButton;
  height: $HeightButton;
  background: linear-gradient(180deg,#BC9CFF 0%, #8BA4F9 100%);
  border-radius: $BorderRadius;
}
@mixin BackgroundImage($HeightImage){
  height: $HeightImage;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
