@import "src/Utils_Scss/fonts";

//color
$darkShade            : #1F2041;
$purple               : #BC9CFF;
$green                : #6FCF97;
$myWhite              : #FFFFFF;
$myGrey               : #e6e6e6;
$myBlack              : #000000;
$aquaBlue             : #66D2EA;

//font
$quick                : "Quicksand",sans-serif;
$mons                 : "Montserrat",sans-serif;
$lineHeight           : 30px;
$fontSizeHeader       : 24px;
$fontSizeContent      : 12px;

//size
$widthInputsDefault   : 320px;
$sizeLogo             : 48px;

//width
$widthForm            : 380px;
$widthBlockForm       : 320px;
$widthButtonsDefault  : 320px;
$widthInputsDate      : 150px;
$widthBlockTotal      : 59px;

//height
$heightFormFindNumber : 374px;
$heightFormNumberLux  : 511px;
$heightFormRegistration : 646px;
$heightBlock          : 80px;
$heightFields         : 44px;
$heightBlockContent   : 151px;
$heightBlockTotal     : 24px;

//indent
$paddingDefault       : 150px;
$paddingInput         : 15px;
$paddingFormTop       : 40px;
$paddingFormLeft      : 30px;
$paddingLogo          : 30px;
$margin               : 6px;

//radius
$borderRadiusDefault  : 4px;
$borderRadiusButton   : 22px;
