.color-name
    .color__rectangle.rectangle-1
    .color__name.name-1
        | Dark Shade 100%
        br
        span #1F2041
    .color__rectangle.rectangle-2
    .color__name.name-2
        | Dark Shade 75%
        br
        span #1F2041
    .color__rectangle.rectangle-3
    .color__name.name-3
        | Dark Shade 50%
        br
        span #1F2041
    .color__rectangle.rectangle-4
    .color__name.name-4
        | Dark Shade 25%
        br
        span #1F2041
    .color__rectangle.rectangle-5
    .color__name.name-5
        | Dark Shade 5%
        br
        span #1F2041
    .color__rectangle.rectangle-6
    .color__name.name-6
        | Purple
        br
        span #BC9CFF
    .color__rectangle.rectangle-7
    .color__name.name-7
        | Green
        br
        span #6FCF97